<!DOCTYPE html>
<html>
<body>
    <h1>Welcome to game recommender</h1>

    <p>
        All searches are stored to a DB in case you wish to keep track of the games you want to play.
    </p>

    <p>
        Endpoints:
    </p>

    <p>
        * "/get_random" in order to get information from random games.
    </p>
    <p>
        * "/get_genre/?genre=GENRE" in order to only retrieve games from a certain genre. Please check for the list of supported genres at the bottom of the page
    </p>
    <p>
        * "/get_last_search/?last_n_search=N" to query one of the 
    </p>

</body>
</html>
